## Visual Studio & .NET GitIgnore
.vs/
.vscode/
bin/
obj/
packages/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.mdf
*.ldf
*.ndf
*.log
_ReSharper*/
*.DotSettings.user
*.pidb
*.suo
TestResults/
